body {
	width: 960px;
	padding: 0 10px 0 10px;
	margin: 0 auto;
	font-family: Arial;
}
.head {
	background-color: grey;
	display: inline-flex;
	height: 100px;
	margin-right: 10px;
}

#lef{
	width: 100px;
	height: 100px;
}
#cen {
	width: 240px;	

}
#rig {
	width: 580px;
	text-align: center;
	position: relative;
	color: white;
	text-decoration: underline;
	font-size: 80%;
}
#tel {
	position: absolute;
    right: 20px;
    top: 20px;
 }
 #post {
 	position: absolute;
    right: 20px;
    top: 40px;
    text-decoration: underline;	
 }
 #www {
 	position: absolute;
    right: 20px;
    top: 60px;
    text-decoration: underline;	
 }

 hr {
	margin-top: 20px;
	margin-right: 10px;
}
.v {
	display: flex;
	display: inline-flex;
}
.oneul {
	list-style-type: none;	
    font-size: 80%;
	padding: 0;
	margin-left: -30px;
} 
#ulone {
	margin-top: -20px;
}
#h {
	margin-left: 10px;
	padding-top: 10px;
}

#four {
	width: 130px;
	height: 240px;
	background-color: grey;
	margin-top: 20px;

}
#five {
	width: 790px;
	height: 180px;
	background-color: silver;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 10px;
	line-height: 1.5;
}
.im {
	background-color: silver;
	display: inline-flex;
	margin-top: 20px;
	margin-right: 20px;
	width: 140px;
	height: 150px;
}

#fiv {
	margin-right: 0;
	right: 10px;
	position: absolute;
	margin-bottom: 20px;
}
#left {
    position: absolute;
	left: 0px;
	width: 130px;
	height: 100px;
	background-color: grey;
	bottom: 0;
}
.n {

	background-color: silver;	
	height: 150px;
	display: flex;
	margin-top: 20px;
	display: inline-flex;
	width: 388px;
}
#sev {
	margin-right: 20px;
	position: absolute;
	bottom: 0;
	left: 0;

}
 #t {
 	position: relative;
 	padding-left: 20px ;
 	padding-right: 10px;
 }
#new {
	position: absolute;
	bottom: 0;
	right: 10px;
}
.lin {
	background-color: grey;	
	display: inline-flex;
	width: 300px;
	height: 180px;
	margin-top: 20px;
	margin-right: 20px;
	color: white;

}
#sp {
	height: 200px;float:left;
	width:300px ;
	position: relative;
	left: 20px;
	columns: 2;
	line-height: 1.7;

}
#bl {
	position: absolute;
}
#bl2 {
	margin-left: 325px;
	font-size: 80%;
	line-height: 1.7;
}
#sp2 {
	list-style-type:square;
}

.col {
	background-color: grey;	
	position: absolute;
	width: 300px;
	height: 80px;
	display: flex;
	top: 20px;	
	right: 10px;
}
#row {
	margin-top: 100px;	

}

#nyz {
	margin-top: 770px;

}
#oleft {
	width: 130px;
	height: 730px;
	float: left;
	padding-right: 20px;
	position: relative;
	color: white;
}
#sidebar {
	width: 810px;
	height: 730px;
	float: left;
	position: relative;
}
#footer {
	position: relative;

}
