body {
    height: 1000px;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
}
.all_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;

}


.header {
	background-color: #dcdcdc;
	width: 100%;
	height:220px;
	padding: 10px 10px;
	display: inline-block;
        
}
.header2 {
	max-width: 1000px;
	display: flex;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

#logo1 {
    padding-left: 100px;
    position: relative;
    margin-top: 40px;
    padding-bottom: 50px;
}

.tel {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 46px;
    letter-spacing: 0.025em;
    color: #767676;
    position: absolute;
    right: 100px;

}



.tel li a {
    text-decoration: none;
    color: #767676;


}
.tel li {
	list-style-type: none;	


}

.menu {
	background-color: grey;
	width: 100%;
	height: 80px;
	text-align: center;
    margin-top: -20px;

}

.menu1 {
    border-right: 2px solid #f3f3f3;
    padding-inline: 10px;

}
.menu li {
	list-style-type: none;	
	display: inline-block;
	padding: 10px;
	margin-top: 15px;
	color: white;
	font-family: 'PT Sans', sans-serif;
    font-size: 25px;

}

.menu a:link, a:visited {
    color: #f3f3f3;
    text-decoration: none;
}
.menu a:hover, a:active {
    color: #f3f3f3;
    text-align: center;
    text-decoration: underline;
}

.item {
 
    background-color: #f3f3f3;;
      margin: 0 auto;
}
.slider {
    height: 400px;
    width: 1250px;
    overflow: hidden;
    min-width: 0;
    position: relative;
    margin: 0 auto;

}
.slick-list {
    overflow: hidden;
}

#img {
    display: block;
    margin: 0 auto;

}

.content {
    height: 1400px;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 200px;
    display: flex;
    font-size: 14px;

}

.content_left {
    background-color: #777777;  
    width: 330px;
    height: auto;
    color: white;
    line-height: 22px;
    padding-bottom: 70px;
    font-family: 'PT Sans', sans-serif;
}
.content_right {

    width: 580px;
    height: auto;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    padding-bottom: 50px;
    margin-left: 50px;
    color: #767676;
}

#h {
    margin-left: 30px;
    margin-right: 20px;


}
#h a {
    text-decoration-line: none;
}
#h1 {
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 0.025em;
    color: #767676;
    top: 10px;
    right: 100px;


}

#arch a {
        text-decoration-line: underline;
        margin-left: 170px;
}
.footer{
   background-color: #777777;
    flex: 0 0 auto;
    margin-top: auto;

}


.footer2 {
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #fbfbfb;
    font-family: 'PT Sans', sans-serif;
    max-width: 1000px;
    margin: 0 auto;

}

#footer_left {
    padding-left: 50px;
    line-height: 22px;

}

#footer_left p {
    margin-top: 5px;
}

.footer ul {
    text-decoration: underline;
    list-style-type: none;
    line-height: 30px;
    margin: 0;
    /*margin-left: 10px;*/
}

.footer_logo {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin-top: -5px;
}

.footer_logo img {
    margin-bottom: 10px;
    margin-right: 5px;
}


.fade_form {
    display: none;
    position: fixed;
    top: 300px;
    left: 500px;
    width: 466px;
    height: 578px;
    background-color: #ffffff;
    text-align: center;
    z-index: 100000000;

}